<div class="container">
	<div class="row">
        <div class="col-md-12">
                <h2 class="form-signin-heading">Register</h2>
                <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="doCamera()"><i class="fa fa-camera"></i>Take Camera</button>
                <br>
               <!--  <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="doGallery()"><i class="fa fa-camera"></i>Get in Gallery</button> -->
        </div>
        <div class="col-md-12">
            <div class="thumbnail">
                <img id="myImage" width="100%" height="100%">
            </div>
          </div>
    </div>
  </div>