<div class="modal-body" id="modal-body">
    <form class="form-signin" enctype="multipart/form-data">
        <input id="inputImage2" class="form-control form-control-lg"
        type="file" 
        accept="image/*" 
        image="image2"
        resize-max-height="200"
        resize-max-width="150"
        resize-quality="0.7" required="" />
        <br>
        <button class="btn btn-success btn-block" ng-click="uploadFiles(image2.resized)" type="submit" >Simpan</button>
    </form>
</div>
<!-- <div class="modal-footer">
    <button class="btn btn-success btn-block" type="button" ng-click="ok()">OK</button>
</div> -->