
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
       <!-- Collect the nav links, forms, and other content for toggling -->
    <div class=" navbar-collapse" id="bs-example-navbar-collapse-1">
        <center>
        <ul class="navbar-nav list-inline navmenu-mobile">
          <li><a ng-click="doHome()"><i class="fa fa-home fa-2x"></i><p>Home</p></a></li>
          <li><a ng-click="doMuzaki()"><i class="fa fa-plus-square fa-2x"></i><p>Muzaki</p></a></li>
          <li><a ng-click="doUser()"><i class="fa fa-user fa-2x"></i><p>User</p></a></li>
        </ul>
        </center>
      <!--   <ul class="nav navbar-nav list-inline visible-xs navmenu-mobile">
            <li><a href="#">docs</a></li>
            <li><a href="#">help</a></li>
          </ul> -->
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>
  <div class="container fluid" style="margin-top: 25%;">
    <div class="row profile">
		<div class="col-md-12">
			<div class="box box-primary">
				<div class="box-body">
					<a ng-click="doUpdateImg()">
						<img ng-show="user.foto" class="profile-user-img img-responsive img-circle" src="{{ip+'/assets/photo-profile/'+user.foto}}" alt="User profile picture" width="100">
						<img ng-show="!user.foto" class="profile-user-img img-responsive img-circle" src="{{ip+'/assets/photo-profile/not-profile.png'}}" alt="User profile picture" width="100">
					</a>
					<h3 class="profile-username text-center">{{user.nama}}</h3>
					<p class="text-muted text-center">Unit Penyetoran Zakat</p>
					<ul class="list-group list-group-unbordered">
						<li class="list-group-item">
							<b>Username</b>
							<a class="pull-right" ng-click="doUpdateUsername()">{{user.username}} <i class="fa fa-pen"></i></a>
						</li>
						<li class="list-group-item">
							<b>Password</b>
							<a class="pull-right" ng-click="doUpdatePassword()">&bull;&bull;&bull;&bull;&bull;&bull; <i class="fa fa-pen"></i></a>
						</li>
						<li class="list-group-item">
							<b>Alamat</b>
							<span class="pull-right">{{user.alamat}}</a>
						</li>
					</ul>
					<a class="btn btn-danger btn-block" ng-click="doLogout()"><b>Logout <i class="fas fa-sign-out-alt"></i></b></a>
				</div>
				
			</div>
		</div>
	</div>
  </div>