
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
       <!-- Collect the nav links, forms, and other content for toggling -->
    <div class=" navbar-collapse" id="bs-example-navbar-collapse-1">
        <center>
        <ul class="navbar-nav list-inline navmenu-mobile">
          <li><a ng-click="doHome()"><i class="fa fa-home fa-2x"></i><p>Home</p></a></li>
          <li><a ng-click="doMuzaki()"><i class="fa fa-plus-square fa-2x"></i><p>Muzaki</p></a></li>
          <li><a ng-click="doUser()"><i class="fa fa-user fa-2x"></i><p>User</p></a></li>
        </ul>
        </center>
      <!--   <ul class="nav navbar-nav list-inline visible-xs navmenu-mobile">
            <li><a href="#">docs</a></li>
            <li><a href="#">help</a></li>
          </ul> -->
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>
<div class="container fluid" style="margin-top: 20%;">
	<div class="row">
        <div class="col-xs-6">
            <div class="jumbotron-text"><center>{{data.namaDesa}}</center></div>

            <div class="jumbotron-header bg-info">
                <h3>{{data.berasDesa}} <sup style="font-size: 18px">Lt</sup></h3>
            </div>
            <div class="jumbotron-footer bg-info-dark">
              <p>Beras Desa</p>
            </div>
            
            <div class="jumbotron-header bg-success">
              <h3>{{data.muzakiDesa}} <sup style="font-size: 18px">Org</sup></h3>
            </div>
            <div class="jumbotron-footer bg-success-dark">
              <p>Muzaki Desa</p>
            </div>

            <div class="jumbotron-header bg-warning">
              <h3>{{data.fakmisDesa}} <sup style="font-size: 18px">Org</sup></h3>
            </div>
            <div class="jumbotron-footer bg-warning-dark">
              <p>Fakmis Desa</p>
            </div>

            <div class="jumbotron-header bg-red">
              <h3>{{data.amilinUpzDesa}} <sup style="font-size: 18px">Lt</sup></h3>
            </div>
            <div class="jumbotron-footer bg-red-dark">
              <p>Amilin Desa</p>
            </div>
        </div>
        <div class="col-xs-6">
          <div class="jumbotron-text"><center>{{data.namaUpz}}</center></div>
              
          <div class="jumbotron-header bg-info">
            <h3>{{data.berasUpz}} <sup style="font-size: 18px">Lt</sup></h3>
          </div>
          <div class="jumbotron-footer bg-info-dark">
            <p>Beras UPZ</p>
          </div>
          
          <div class="jumbotron-header bg-success">
            <h3>{{data.muzakiUpz}} <sup style="font-size: 18px">Org</sup></h3>
          </div>
          <div class="jumbotron-footer bg-success-dark">
            <p>Muzaki UPZ</p>
          </div>

          <div class="jumbotron-header bg-warning">
            <h3>{{data.fakmisUpz}} <sup style="font-size: 18px">Org</sup></h3>
          </div>
          <div class="jumbotron-footer bg-warning-dark">
            <p>Fakmis UPZ</p>
          </div>

          <div class="jumbotron-header bg-red">
            <h3>{{data.amilinUpz}} <sup style="font-size: 18px">Lt</sup></h3>
          </div>
          <div class="jumbotron-footer bg-red-dark">
            <p>Amilin UPZ</p>
          </div>
          
        </div>
        <div class="col-xs-12">
            <div class="jumbotron bg-danger">
                <h3>{{data.berasFakmis}} <sup style="font-size: 20px">Lt/Org</sup></h3>
                <p>Beras Tiap Fakmis</p>
              </div>
        </div>
    </div>
  </div>